@import './variables.scss';

.bg-blue-light{
    background-color: $blue-light
  }
.bg-blue-dark{
  background-color: $blue-dark
}
.color-blue-light{
  color: $blue-light
}
.color-blue-dark{
  color: $blue-dark
}
.color-sky-dark{
  color: rgb(8 47 73);
}